# Angry Equations: User Test Report

`v1.2`

## Context

### Concept

Angry equations presents the player with the challenge of solving levels by shooting projectiles using linear equations. The game is inspired by the popular game Angry Birds and aims to teach the player about linear equations in a fun and engaging way.

### Hypotheses

We believe that the player will have a positive experience with the game and will be able to learn about linear equations in a fun and engaging way. The player will be able to connect the input they provide to the output on the screen and will be able to finish the levels within a set amount of time.

## Analysis


### Functionality

- Unintended Behaviour
    - Each tester encountered at least 1 to 3 bugs on average. One tester experienced 3 or more bugs during the gameplay. 
    
    - The most encountered bug was that the enemies / balls rolled out of the frame or out of reach for the cannon because we had no invisible walls. That resulted in the player not being able to finish the level so they had to restart. Sometimes the enemies also did not die on impact or collision with the bomb or other objects, but this bug is rather rare. The testers were not able to finish the levels due to the bugs, which in turn hindered their gameplay.

- Goal Hindrance
    - Almost all of the encountered bugs, hindered gameplay in some kind of form. The players weren't able to finish the levels because the balls rolled out of the screen or behind the cannon. On top of that the collisions with other objects sometimes resulted in the targets (balls) being launched (yeeted) at high speed. The targets (balls) did not behave has the testers expected.

### Accessibility

- Control Clarity
    - Most of the players were pretty fast in picking up how the controls work and figured it out in 10 seconds or less. There are also some players who struggled more and needed some more time. 

- UI clarity and simplicity
    - The testers were easily able to open the level within their first few clicks. The testers that used more clicks tried to open the settings before starting the level, increasing the number of clicks performed from 2 to 4 clicks. 

    - The majority of the players were able to figure out how the UI works on their own, without asking for help. Some of the testers were a bit confused and asked only once for guidance.

### User Experience

- Fun
    - Most of the players did not actively ask after the test to continue the game. Two of the players wanted to continue to play, and asked the conductor of the test, if they could.
    
    - Although most of the players, did not ask themselves to continue, as stated in the question above, once asked most of them would continue once specifically asked. Only 1 of the 14 testers of them would not continue to play.

- Sense of urgency
    - Most of the players did not feel time pressure to finish the game. The two testers who said that they were feeling time pressure said that it was due to the fact that they were running out of ammo and were unsure about what would happen, and that something could suddenly disappear. 

- Satisfaction
    - Some testers experienced a difficulty curve in the game, they experienced the game to be more difficult at the beginning and had to perform some trial and error. Once they understood the goal and controls of the game they understood the game better (spel beter). Overall the testers experienced the game as fun (leuk).

    - Most of the testers experienced the game as fun (leuk) and responded positively when asked if they felt satisfied. They expressed that their experience improved due to the connection between input and visual representation. It was expressed that the future experience could improve even more if the enemies were not just simple balls (een vormpje), there were things to unlock such as skins for the player, and the final kill was completely visible. 
    
- Challenge
    - The beginning of the game was a bit challenging as the testers had to figure out what they were supposed to do. Once they figured out  the controls and their goal the game became a lot easier.
    
### Didactic Efficacy

- Learning objectives alignment
  - Most testers understood that the game allowed them to alter something. Some testers understood that the game had to do with formulas (formules), linear equations and/or functions. However most could not narrow it down to linear equations.
  
- Assessment of knowledge acquisition
  - It is almost a 50% chance if the players are able to finish the first level within a minute. If you look at the actual time the testers achieved, most of them are scattered around the 60 seconds mark. Some of them were slightly faster and some of them a bit slower. There were some testers that took way longer, around 2 to 3 minutes, that was partially due to the bugs, and the testers having to redo the level in order to progress to the second level. These testers were not the target audience. The target audience was consistently around the 60 seconds mark with slight differences.

  - As in the previous level, 50% of the players were able to finish the game in 50 seconds or less and 50% took more time. Also in this level, the bugs made a huge difference in how fast the players were able to finish because the enemy balls would sometimes roll out of reach and the level had to be restarted. The range of how long the testers had to finish the level reaches from from 25sec up to 7min. This number is skewed by the guerilla testing because the target audiences range is around 25sec up to 2min. 
  
- Tutorial and guidance options
  - Most of the testers, made use of the tutorials in the game. The tutorial refers to the trajectory which the bullet takes once fired. Only one tester did not make use of this, but was rather confused about how the whole game works.
    
- Engagement with educational content & expression
    - Only 1 of the 14 testers would not continue to play the game for just the gameplay. However all 14 testers would continue the game to improve their math skills. Some stated that it would be easier to learn (makkelijker leren, zou helpen) due to the game being more visual, and being more fun (leuk) than learning from a book (schrift).

### Game Flow

- Complete concentration on the task
    - As an interruption of the gameplay counts if the tester would interact with someone outside of the test, like a friend or a bystander. But none of the testers would let themselves be distracted.

- Clarity of goals
    - Most of the testers asked 1 to 3 questions and one person had more questions. The questions range from "What do I need to do?" down to "What are bananas?" or "How is the score calculated?".

- Effortlessness and ease
    - To find out if the players can get into the gameplay with ease, we set up a benchmark in which we tested if the player could hit an enemy within their first try of using the cannon. And around 60% of the testers managed to do that. The others were confused about what the goal was and sometimes tried to shoot over the obstacles and structures to try not to break anything.

- Balance between challenge and skills
    - Out of the 14 testers only 4 made a remark during gameplay. The game is perceived to be inconsistent/random, one of the 4 testers deemed the game to be unbalanced and misaligned due to the expected trajectory and behaviour of the player's character. 2 Out of the 4 testers claimed the game to be easy as well. On top of that one tester had difficulty to see the trajectory due to the UI (it was in the way), which made the game more difficult in the beginning.

## Conclusion

In conclusion, the game is very well received by the testers, especially by the target audience. They were very interested in the game, and did not have a lot of trouble finding out how they should interact with the game. The controls were easy to pick up for most testers, but the biggest point of confusion was that there was no clear goal stated. A lot of the testers did not know what to do. They started shooting over the obstacles and did some trial and error before they understood what they needed to do. The UI had elements to indicate the amount of remaining ammo and enemies, but it was not easy to find for the players as some of them were confused as to why they failed a level. The target audience had a positive experience and stated it out loud several times. They were fond of the experience and encourage each other to test the prototype. The children were quick to figure out how the controls work and were not afraid to perform some trial and error, by trying things out and see where they would be lead. They did mention that it was difficult to see the connection between the linear equation and the actual gameplay. They did not really used the function to aim but rather as a visual queue to see where they should aim. On top of that they used the buttons to aim and did not spent much time thinking about how the equation was changed in the graph. According to the testers the game is simple and interesting as it keeps the player engaged and is easy to complete. On top of that it was mentioned that the game was fun to play.

## Recommendations

According to the results the following has been recommended:

- *UI*: The UI can make or break this experience. The goal needs to be introduced more clearly because the testers were confused about what they were supposed to do. This can for example be accomplished by implementing a small trailer, making the enemies look and feel more threatening or showing pop-ups with clear information on what to do. There should be more visual feedback for the player to truly understand what is happening, for example the bullets could explode on impact. Without this visual representation it was confusing for the player because the enemies and obstacles would sometimes be pushed to the side. There was confusion about what objects were interactive, what objects could a bullet destroy, both of which could also be improved by adding polish to the game. 
- *Story*: The players were confused about why there were bananas, this is due to the fact that the rating system is based on the story which is not implemented into the prototype yet. On top of that they were not sure as to why they needed to shoot the enemies/targets.
- *Progression*: The game has the potential to be very useful for younger students who just got an introduction to linear functions. On top of that it can be adjusted for more advanced students, for example they could write the entire function themselves instead of just clicking on the buttons to change the trajectory. All of the test players were fond of the experience and would continue playing, if the levels were more balanced and more difficult. For example the math was very simplistic as of now and they were unsure as to how this could be made more difficult over time.
- *Authorability*: This concept is not fitted for being authorable by the teacher, because the levels need to be set up in a specific way for the player to be able to actually win the game, which takes a lot of time. The children can complete the levels in multiple different ways which lies in the nature of this game. There is no one correct answer, which might not be completely in the interest of the teachers who would probably prefer a one true answer. 